body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration:none;
}

.button {
	font: inherit;
}

.visually-hidden {
	display: none;
}

.main-navigation a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;

	background-color: #ffffff;
}

.main-navigation a:hover, 
.main-navigation a:focus {
	color: #81b3d2;
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
	}

.main-navigation a.active-page {
	color: #766357;
}

.main-navigation ul {
	list-style: none;
}

h1 {
color: #ffffff;
}

h2 {
	color: #000000;
	background-color: #ffffff;
}

h3 {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}
.sedona-introduction {
	background-color: #eeeeee;
	background-image: url("../img/background-photo.jpg");
	text-align: center;
	background-size: 1200px 773px;
}

.polygon {
  width: 1201px;
  height: 59px;
  object-fit: contain;
}

.why-sedona {
	color: #333333;
	background-color: #ffffff;
	list-style: none;
	text-align: center;
}

.interested {
	color: #333333;
	background-color: #ffffff;
	text-align: center;
}

.hotel-search {
	text-align: center;
}

.hotel-search-button {
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	background-color: #766357;
	border: none;
	padding: 35px 139px 33px 140px;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
	background-color: #604e43;
}

.hotel-search-button:active {
	color: 255, 255, 255, 0.3;
	background-color: #503e33;
}

.popup {
	padding: 55px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	
}

input[type=text] {
	color: #000000;
	background-color: #f2f2f2;
	border: none;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
}

input[type=text]:hover {
	background-color: #ebebeb;
}

input[type=text]:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.submit {
	width: 458px;
	height: 58px;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	background-color: #81b3d2;
	border: none;
}

.submit:hover, 
.submit:focus {
	background-color: #669ec0;
}

.submit:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

ul.hotels-list {
	list-style: none;
}

.hotel a {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
}

.hotel a:hover, 
.hotel a:focus {
	color: #81b3d2;
}

.hotel a:active {
	color: rgba(0, 0, 0, 0.3);
}

a.more-info {
	font-size: 14px;
	line-height: 26px;
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
	padding: 8px 17px 7px 17px;
}

a.more-info:hover,
a.more-info:focus {
	color: #ffffff;
	background-color: #669ec0;
}

a.more-info:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

a.book {
	font-size: 14px;
	line-height: 26px;
	color: #ffffff;
	font-weight: 700;
	background-color: #766357;
	padding: 8px 17px 7px 17px;
}

a.book:hover,
a.book:focus {
	color: #ffffff;
	background-color: #604e43;
}

a.book:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

b {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: 300;
}

b.rating {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	font-weight: 300;
	background-color: #f2f2f2;
	padding: 5px 13px 6px 16px;
}

.main-footer {
	background-color: #ffffff;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}