body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-transform: uppercase;

	background-color: #ffffff;
	width: 1200px;
	margin-left: 40px;
	margin-right: 40px;
}

a {
	text-decoration:none;
}

img {
	max-width: 100%;
	height: auto;
}

.button {
	font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
	background-color: #ffffff;
	margin: 0;
}

main {
	background-color:;
	margin: 0;
}

.main-header {
	min-height: 55px;
	margin: 0;
	padding: 0;
}

.main-navigation a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
}

.main-navigation a:hover, 
.main-navigation a:focus {
	color: #81b3d2;
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
	}

.main-navigation a.active-page {
	color: #766357;
}

.main-navigation ul {
	list-style: none;
}

.main-navigation .header-logo img {
	position: absolute;
	left: 568px;
	top: -2px;
}

.site-navigation {
	background-color: ;
  display: flex;
  min-height: 55px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.site-navigation li {
	background-color: ;
	flex-basis: 239px;
	height: 100%;
	text-align: center;	
}

.site-navigation li:nth-child(2) {
	text-align: left;
}

.site-navigation li:nth-child(3) {
	text-align: right;
}


main .container {
	margin: 0 auto;
	padding: 0;
}



h3 {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.sedona-introduction {
	margin: 0;
	padding: 0;
	width: 1200px;
	background-color: #eeeeee;
	background-image: url("../img/background-photo.jpg");
	background-size: cover;
	text-align: center;
	background-position: 50% -85px;
}

.welcome {
	margin-top: 75px;
	margin-bottom: 15px;
	padding: 0;
}

.polygon {
	margin: 0;
	padding: 0;
	width: 1202px;
	height: 59px;
	object-fit: cover;
}

.why-sedona {
	display: flex;
	flex-direction: column;
	color: #333333;
	background-color: #ffffff;
	list-style: none;
	margin-top: -10px;
	padding: 0; 
	min-height: 216px;
	text-align: center;
}

.why-sedona h2 {
	color: #000000;
	background-color: #ffffff;
	margin-top: 60px;
	margin-bottom: 25px;
	padding: 0;
}

.why-sedona p {
	margin: 0;
	padding: 0;
}

.interested {
	color: #333333;
	background-color: #ffffff;
	text-align: center;
}

.hotel-search {
	text-align: center;
	background-color: #ffffff;
}

.hotel-search p {
	margin-bottom: 52px;
}

.hotel-search-button {
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	background-color: #766357;
	border: none;
	padding: 35px 139px 33px 140px;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
	background-color: #604e43;
}

.hotel-search-button:active {
	color: 255, 255, 255, 0.3;
	background-color: #503e33;
}

.popup {
	padding: 55px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
}

input[type=text] {
	color: #000000;
	background-color: #f2f2f2;
	border: none;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
}

input[type=text]:hover {
	background-color: #ebebeb;
}

input[type=text]:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.submit {
	width: 458px;
	height: 58px;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	background-color: #81b3d2;
	border: none;
}

.submit:hover, 
.submit:focus {
	background-color: #669ec0;
}

.submit:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.filters {
margin: 0;
padding: 0;
min-height: 359px;
background-color: red;
}

ul.hotels-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 1200px;
}

li.hotel {
	margin: 0;
	padding: 0;
	min-height: 150px;
	background-color: yellow;
	padding-left: 72px;
}

.hotel a {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
}

.hotel a:hover, 
.hotel a:focus {
	color: #81b3d2;
}

.hotel a:active {
	color: rgba(0, 0, 0, 0.3);
}

a.more-info {
	font-size: 14px;
	line-height: 26px;
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
	padding: 8px 17px 7px 17px;
}

a.more-info:hover,
a.more-info:focus {
	color: #ffffff;
	background-color: #669ec0;
}

a.more-info:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

a.book {
	font-size: 14px;
	line-height: 26px;
	color: #ffffff;
	font-weight: 700;
	background-color: #766357;
	padding: 8px 17px 7px 17px;
}

a.book:hover,
a.book:focus {
	color: #ffffff;
	background-color: #604e43;
}

a.book:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

b {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: 300;
}

b.rating {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	font-weight: 300;
	background-color: #f2f2f2;
	padding: 5px 13px 6px 16px;
}

.main-footer {
	background-color: rgba(255,255,255,0.9);
	display: flex;
	justify-content: space-around;
	min-height: 120px;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-social ul {
	list-style: none;
}

.social-buttons {
	background-color: red;
	display: flex;
	justify-content: flex-start;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.button:hover .svg,
.button:focus .svg{
	fill: #81b3d2;
}

.button:active .svg{
	fill: #bdbbbc;
}

.footer-copyright {
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
}




